@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg: #F6FDFF;
  /* sky blue */
  --primary-500: #3DBEFF;
  /* green */
  --accent-500: #61D095;
  /* orange */
  --warm-500: #FF914D;
  --sun-500: #FFD93D;
  --muted: #6E7F8B;
  --text: #0B2938;
  --btn-linear: linear-gradient(90deg, var(--primary-500), var(--accent-500));
}

body{
  background: rgb(216, 243, 247);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
}

.cursor-pointer{
  cursor: pointer;
}